<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <title>May 20-21st 2018 - PHPKonf Istanbul PHP Conference</title>

    <meta name="keywords"
          content="PHP, PHPKonf, PHP Conference, PHP Konferansı, İstanbul PHP Konferansı, Istanbul PHP Conference">
    <meta name="author" content="PHPKonf">

    <link rel="shortcut icon" href="assets/images/favicon.ico">

    <link rel="stylesheet" type="text/css" href="assets/css/custom-animations.css"/>
    <link rel="stylesheet" type="text/css" href="assets/css/style.css"/>

    <!--[if lt IE 9]>
    <script src="assets/js/html5shiv.js"></script>
    <script src="assets/js/respond.min.js"></script>
    <![endif]-->

    <link rel="manifest" href="manifest.json" />
    <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
    <script>
    var OneSignal = window.OneSignal || [];
    OneSignal.push(function() {
        OneSignal.init({
        appId: "6e319399-38a5-41e1-a0f2-feb957940621",
        });
    });
    </script>
</head>

<body>

<section id="hero" class="hero-section bg2 bg-cover light-text overlay gradient-overlay">
    <ul class="socials-nav">
        <li class="socials-nav-item"><a target="_blank" href="https://twitter.com/istanbulphp"><span class="fa fa-twitter"></span></a></li>
        <li class="socials-nav-item"><a target="_blank" href="https://www.flickr.com/photos/150061759@N02/sets/72157681171150484/"><span class="fa fa-flickr"></span></a></li>
        <li class="socials-nav-item"><a target="_blank" href="https://www.facebook.com/phpkonf/"><span class="fa fa-facebook"></span></a></li>
    </ul>
    <div class="heading-block centered-block align-center">
        <div class="container">
            <h5 class="heading-alt" style="margin-bottom: 8px;">
                <span class="fa fa-calendar-o color-white"></span>20-21.may
                <span class="fa fa-map-marker color-white" style="margin-left: 14px;"></span>Istanbul
            </h5>
            <h1 class="extra-heading">PHPKonf</h1>
            <h6 class="thin base-font">two-days long multi-track PHP festival, in the ancient city!</h6>
            <div class="btns-container">
                <a href="https://www.biletino.com/event/eventdetail/4733?l=en" class="btn btn-md" target="_blank">BUY TICKET</a>
            </div>
        </div>
    </div>
</section>

<header class="header header-black">
    <div class="header-wrapper">
        <div class="container">
            <div class="col-sm-2 col-xs-12 navigation-header">
                <a href="index.html" class="logo">
                    <img src="assets/images/logo@2x.png" alt="PHPKonf" width="110" height="34" class="retina-hide">
                    <img src="assets/images/logo@2x.png" alt="PHPKonf" width="110" height="34" class="retina-show">
                </a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation"
                        aria-expanded="false" aria-controls="navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="col-sm-10 col-xs-12 navigation-container">
                <div id="navigation" class="navbar-collapse collapse">
                    <ul class="navigation-list pull-right light-text">
                        <li class="navigation-item"><a href="#speakers" class="navigation-link">Speakers</a></li>
                        <li class="navigation-item"><a href="#schedule" class="navigation-link">Schedule</a></li>
                        <li class="navigation-item"><a href="#prices" class="navigation-link">Tickets</a></li>
                        <li class="navigation-item"><a href="#sponsors" class="navigation-link">Sponsors</a></li>
                        <li class="navigation-item"><a target="_blank" href="https://phpwomen.istanbulphp.org"
                                                       class="navigation-link">PHPWomen Workshop</a></li>
                        <li class="navigation-item"><a href="#contacts" class="navigation-link">Contacts</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>

<section id="about" class="section align-center">
    <div class="container">
        <h3>About PHPKonf</h3>
        <p class="text-alt">PHPKonf is hosted by the İstanbul PHP community (İstanbul PHP) in İstanbul, Turkey<br>
            from May 20-21st 2018, and you're invited! For the 5th year, we'll host some of the best speakers, awesome
            talk topics,<br>
            latest technologies, and up to date news in PHP.</p>

        <div>
            <ul class="list-inline">
                <li><a target="_blank" href="http://2017.phpkonf.org">2017</a></li>
                <li><a target="_blank" href="http://2016.phpkonf.org">2016</a></li>
                <li><a target="_blank" href="http://2015.phpkonf.org">2015</a></li>
                <li><a target="_blank" href="http://2014.phpkonf.org">2014</a></li>
            </ul>
        </div>

        <div class="gallery masonry">
				<span class="masonry-item">
					<a href="#" class="gallery-thumb-link" data-modal-link="gallery-1">
						<img src="assets/images/photos/1-thumb.jpg" alt="">
					</a>

					<div class="modal-window" data-modal="gallery-1">
						<div class="modal-box medium animated" data-animation="zoomIn" data-duration="700">
							<span class="close-btn icon icon-office-52"></span>

							<h5 class="heading-alt">RASMUS LERDORF, PHPKONF 2017</h5>
							<br/>

							<img src="assets/images/photos/1.jpg" class="full-width-img" alt="gallery1">
						</div>
					</div>
				</span>

            <span class="masonry-item">
					<a href="#" class="gallery-thumb-link" data-modal-link="gallery-2">
						<img src="assets/images/photos/2-thumb.jpg" alt="">
					</a>

					<div class="modal-window" data-modal="gallery-2">
						<div class="modal-box medium animated" data-animation="zoomIn" data-duration="700">
							<span class="close-btn icon icon-office-52"></span>

							<h5 class="heading-alt">FABIEN POTENCIER, PHPKONF 2016</h5>
							<br/>

							<img src="assets/images/photos/2.jpg" class="full-width-img" alt="gallery1">
						</div>
					</div>
				</span>

            <span class="masonry-item">
					<a href="#" class="gallery-thumb-link" data-modal-link="gallery-3">
						<img src="assets/images/photos/3-thumb.jpg" alt="">
					</a>

					<div class="modal-window" data-modal="gallery-3">
						<div class="modal-box medium animated" data-animation="zoomIn" data-duration="700">
							<span class="close-btn icon icon-office-52"></span>

							<h5 class="heading-alt">MARCO PIVETTA, PHPKONF 2016</h5>
							<br/>

							<img src="assets/images/photos/3.jpg" class="full-width-img" alt="gallery1">
						</div>
					</div>
				</span>

            <span class="masonry-item">
					<a href="#" class="gallery-thumb-link" data-modal-link="gallery-4">
						<img src="assets/images/photos/4-thumb.jpg" alt="">
					</a>

					<div class="modal-window" data-modal="gallery-4">
						<div class="modal-box medium animated" data-animation="zoomIn" data-duration="700">
							<span class="close-btn icon icon-office-52"></span>

							<h5 class="heading-alt">JORDI BOGGIANO / PIERRE JOYE, PHPKONF 2016</h5>
							<br/>

							<img src="assets/images/photos/4.jpg" class="full-width-img" alt="gallery1">
						</div>
					</div>
				</span>
        </div>
    </div>
</section>

<div id="app">
<section id="speakers" class="section align-center">
    <div class="container">
        <h3>Speakers</h3>
        <p class="text-alt">Randomly ordered, if you are looking for all speakers, <a href="speakers.html">here</a></p>
        <br/>
        <br/>

        <div class="col-sm-4" v-for="item in getRandomSpeakers()">
            <div class="speaker">
                <div class="photo-wrapper rounded"><img :src="item.avatar"
                                                        :alt="item.name" class="img-responsive"></div>
                <h3 class="name">{{ item.name }}</h3>
                <p class="text-alt">
                    <small>{{ item.title }}</small>
                </p>
                <ul class="speaker-socials">
                    <li><a target="_blank" :href="item.social.twitter"><span class="fa fa-twitter"></span></a></li>
                    <li><a target="_blank" :href="item.social.github"><span class="fa fa-github"></span></a></li>
                    <li><a target="_blank" :href="item.social.linkedin"><span class="fa fa-linkedin"></span></a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="clearfix">
            <a href="speakers.html" class="btn">VIEW ALL SPEAKERS</a>
        </div>

    </div>
</section>

<section id="schedule" class="section schedule-section align-center">
    <div class="container">
        <h3>Schedule</h3>
        <br>
        <br>

        <!-- Schedule start -->
        <div class="schedule">

            <!-- Navigation by day start -->
            <div class="nav-wrapper"><ul class="nav nav-schedule">
                <li v-bind:class="{ active: day.isSelected }" v-for="day of days"><a v-bind:href="`#day${day.dayNumber}`" data-toggle="tab"><h5 class="highlight">Day {{ day.dayNumber }}</h5><p class="text-alt">{{ day.date }}</p></a></li>
            </ul></div>
            <!-- Navigation by day end -->

            <!-- First level content start -->
            <div class="tab-content">

                <!-- Day content start -->
                <div v-bind:id="`day${day.dayNumber}`" v-bind:class="{ active: day.isSelected, 'tab-pane fade in': true }" v-for="day of days">

                    <!-- Navigation by auditorium start -->
                    <div class="nav-wrapper"><ul class="nav nav-schedule">
                        <li v-bind:class="{ active: track.isSelected }" v-for="track of day.tracks"><a v-bind:href="`#day${day.dayNumber}_auditorium${track.trackNumber}`" data-toggle="tab">TRACK {{ track.trackNumber }}</a></li>
                    </ul></div>
                    <!-- Navigation by auditorium start -->

                    <!-- Second level content start -->
                    <div class="tab-content tab-content-schedule">

                        <!-- Auditorium content start -->
                        <div v-bind:id="`day${day.dayNumber}_auditorium${track.trackNumber}`" v-bind:class="{ active: track.isSelected, 'tab-pane fade in': true }" v-for="track of day.tracks">

                            <!-- Accordion start -->
                            <div class="panel-group" v-bind:id="`day${day.dayNumber}_auditorium${track.trackNumber}_timeline`">

                                <!-- Lecture start -->
                                <div class="panel schedule-item" v-for="session of getSchedule(day.dayNumber, track.trackNumber)">
                                    <div class="lecture-icon-wrapper"></div>
                                    <a data-toggle="collapse" v-bind:data-parent="`#day${day.dayNumber}_auditorium${track.trackNumber}_timeline`" v-bind:href="`#day${day.dayNumber}_auditorium${track.trackNumber}_time_${session.sessionNumber}`" class="schedule-item-toggle collapsed">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>{{ session.time }}, {{ session.language }}</strong>
                                        <h6 class="title">{{ session.title }}<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                    <div v-bind:id="`day${day.dayNumber}_auditorium${track.trackNumber}_time_${session.sessionNumber}`" class="panel-collapse collapse schedule-item-body">
                                        <article>
                                            <p class="description">{{ session.description }}</p>
                                            <strong class="highlight speaker-name">{{ session.speaker }}</strong>
                                        </article>
                                    </div>
                                </div>
                                <!-- Lecture end -->    

                            </div>
                            <!-- Accordion end -->

                        </div>
                        <!-- Auditorium content end -->

                    </div>
                    <!-- Second level content end -->    

                </div>
                <!-- Day content end -->
    
            </div>
            <!-- First level content end -->

        </div>
        <!-- Schedule end -->
    </div>

</section>
</div>

<section id="prices" class="section align-center">
    <div class="container">
        <h3>Tickets</h3>
        <br/>
        <br/>

        <div class="row">
            <div class="col-sm-4">
                <div class="package-column">
                    <h6 class="package-title">Standart</h6>
                    <div class="package-price">
                        <span class="currency"><span style="color: #000;" class="fa fa-turkish-lira"></span></span>65 /
                        <span class="currency">$</span>20
                    </div>
                    <div class="package-detail">
                        <ul>
                            <li><span class="fa fa-check check-icon"></span>2-day ticket guarantees admission</li>
                            <li><span class="fa fa-check check-icon"></span>hot & cold refreshments for both days</li>
                        </ul>
                    </div>
                    <a target="_blank" href="https://www.biletino.com/event/eventdetail/4733?l=en"
                       class="btn btn-lg btn-outline-clr">Buy now</a>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="package-column special-column">
                    <span class="sale-label uppercase">Hot!</span>
                    <h6 class="package-title">Exclusive</h6>
                    <div class="package-price">
                        <span class="currency"><span class="fa fa-turkish-lira"></span></span>205 / <span
                            class="currency">$</span>55
                    </div>
                    <div class="package-detail">
                        <ul>
                            <li><span class="fa fa-check check-icon"></span>2-day ticket guarantees admission</li>
                            <li><span class="fa fa-check check-icon"></span>hot & cold refreshments for both days</li>
                            <li><span class="fa fa-check check-icon"></span>private after-party dinner with guest
                                speakers
                            </li>
                        </ul>
                    </div>
                    <a target="_blank" href="https://www.biletino.com/event/eventdetail/4733?l=en " class="btn btn-lg">Buy
                        now</a>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="package-column">
                    <h6 class="package-title">PHPWomen Support</h6>
                    <div class="package-price">
                        <span class="currency"><span style="color: #000;" class="fa fa-turkish-lira"></span></span>105 /
                        <span class="currency">$</span>30
                    </div>
                    <div class="package-detail">
                        <ul>
                            <li><span class="fa fa-check check-icon"></span>10$ support for workshop students</li>
                            <li><span class="fa fa-check check-icon"></span>2-day ticket guarantees admission</li>
                            <li><span class="fa fa-check check-icon"></span>hot & cold refreshments for both days</li>
                        </ul>
                    </div>
                    <a target="_blank" href="https://www.biletino.com/event/eventdetail/4733?l=en"
                       class="btn btn-lg btn-outline-clr">Buy now</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="sponsors" class="section align-center">
    <div class="container">
        <h3>Sponsors</h3>
        <p class="text-alt">Would you like to be the part of this great event? Please <a target="_blank"
                                                                                         href="mailto:mail@istanbulphp.org">get
            in touch</a> with us for sponsorship options!</p>
        <br/>
        <br/>

        <div class="sponsors">
            <h5 style="font-weight: lighter">Main Sponsor</h5>
            <div><a target="_blank" href="https://peak.games"><img src="assets/images/sponsors/peakgames.jpg"
                                                                   alt="Peak Games"></a></div>
        </div>

        <hr/>

        <div class="sponsors">
            <h5 style="font-weight: lighter">Platinum Sponsors</h5>
            <div style="padding: 30px">
                <div><a target="_blank" href="https://useinsider.com"><img src="assets/images/sponsors/insider.png"
                                                                           alt="Insider"></a></div>
            </div>
        </div>

        <hr/>

        <div class="sponsors">
            <h5 style="font-weight: lighter">Gold Sponsors</h5>
            <div style="padding: 30px">
                <div>
                    <a target="_blank" href="https://enuygun.com"><img src="assets/images/sponsors/enuygun.jpg"
                                                                       alt="Enuygun"></a>
                    <a target="_blank" href="https://radore.com"><img src="assets/images/sponsors/radore.png"
                                                                       alt="Radore"></a>
                </div>
                <div>
                    <a target="_blank" href="https://ideasoft.com.tr"><img width="250px" src="assets/images/sponsors/ideasoft.png"
                            alt="ideasoft"></a>
                    <a style="margin-left: 20px;" target="_blank" href="https://dugun.com"><img src="assets/images/sponsors/dugun.png"
                                alt="düğün.com"></a>
                </div>
            </div>
        </div>

        <hr/>

        <div class="sponsors">
            <h5 style="font-weight: lighter">Printed Sponsor</h5>
            <div style="padding: 30px">
                <div><a target="_blank" href="https://bidolubaski.com"><img src="assets/images/sponsors/bidolubaski.png"
                                                                            alt="bidolubaski"></a></div>
            </div>
        </div>

        <hr/>

        <div class="sponsors">
            <h5 style="font-weight: lighter">Silver Sponsors</h5>
            <div style="padding: 30px">
                <div>
                    <a target="_blank" href="https://jetbrains.com"><img src="assets/images/sponsors/phpstorm.jpg"
                                                                        alt="PhpStorm"></a>
                    <a style="margin-left: 15px;" target="_blank" href="https://www.siteground.com/"><img src="assets/images/sponsors/siteground.png"
                                                                        alt="SiteGround"></a>
                </div>
            </div>
        </div>

        <hr/>

        <div class="sponsors">
            <h5 style="font-weight: lighter">Open Sponsors</h5>
            <div style="padding: 30px">
                <div>
                    <a target="_blank" href="http://tazebt.com"><img src="assets/images/sponsors/taze.png"
                                                                            alt="taze"/></a>
                </div>
            </div>
        </div>

        <hr/>

        <div class="sponsors">
            <h5 style="font-weight: lighter">Venue Sponsor</h5>
            <div style="padding: 30px">
                <div><a target="_blank" href="http://www.nisantasi.edu.tr/"><img
                        src="assets/images/sponsors/nisantasi.png" alt="Nişantaşı University"></a></div>
            </div>
        </div>


    </div>
</section>

<section id="contacts">
    <div class="contacts-wrapper">
        <div id="contacts-map" class="map" data-settings="map-settings.json" style="height:560px;"></div>

        <div class="container contacts-on-map-container">
            <div class="contacts-on-map">
                <h3>Location</h3>

                <ul class="list">
                    <li><i class="fa fa-university"></i>Nişantaşı Üniversitesi, Maslak 1453 NeoTech Kampüsü
                    <li></li>
                    <li><i class="fa fa-map-marker"></i>Pınar Mahallesi, Sarıyer Cd. No:1453, 34460 Sarıyer/İstanbul
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="footer">
    <div class="footer-base">
        <div class="container">

            <div class="col-md-6">
                <ul class="footer-nav">
                    <li class="footer-nav-item"><a target="_blank" href="mailto:mail@istanbulphp.org">Contact</a></li>
                    <li class="footer-nav-item"><a target="_blank" href="http://confcodeofconduct.com/">Code of
                        Conduct</a></li>
                </ul>
            </div>

            <div class="col-md-6 align-right">
                <ul class="socials-nav align-right">
                    <li class="socials-nav-item"><a target="_blank" href="https://twitter.com/istanbulphp"><span
                            class="fa fa-twitter"></span></a></li>
                    <li class="socials-nav-item"><a target="_blank" href="https://facebook.com/phpkonf"><span
                            class="fa fa-facebook"></span></a></li>
                    <li class="socials-nav-item"><a target="_blank" href="https://github.com/istanbulphp"><span
                            class="fa fa-github"></span></a></li>
                    <li class="socials-nav-item"><a target="_blank"
                                                    href="https://www.flickr.com/photos/150061759@N02"><span
                            class="fa fa-flickr"></span></a></li>
                </ul>

                <p class="text-alt">
                    <small>All Rights Reserved © 2018</small>
                </p>
            </div>

        </div>
    </div>
</section>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-63786228-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'UA-63786228-1');

    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
        n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
        document,'script','https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '293580531094723'); // Insert your pixel ID here.
    fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
               src="https://www.facebook.com/tr?id=293580531094723&ev=PageView&noscript=1"
/></noscript>
<!-- DO NOT MODIFY -->
<!-- End Facebook Pixel Code -->

<script type="text/javascript">
    _linkedin_data_partner_id = "258996";
</script><script type="text/javascript">
    (function(){var s = document.getElementsByTagName("script")[0];
        var b = document.createElement("script");
        b.type = "text/javascript";b.async = true;
        b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
        s.parentNode.insertBefore(b, s);})();
</script>
<noscript>
    <img height="1" width="1" style="display:none;" alt="" src="https://dc.ads.linkedin.com/collect/?pid=258996&fmt=gif" />
</noscript>

<!--[if lt IE 9]>
<script type="text/javascript" src="assets/js/jquery-1.11.3.min.js?ver=1"></script>
<![endif]-->
<!--[if (gte IE 9) | (!IE)]><!-->
<script type="text/javascript" src="assets/js/jquery-2.1.4.min.js?ver=1"></script>
<!--<![endif]-->

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.5/lodash.min.js"></script>
<script src="./app.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3&libraries=places&key=AIzaSyCdwGRqSLKdTXSBL8r7xoHy5z05877Cuss"></script>
<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="assets/js/toastr.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.waypoints.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.appear.js"></script>
<script type="text/javascript" src="assets/js/jquery.plugin.js"></script>
<script type="text/javascript" src="assets/js/masonry.pkgd.min.js"></script>
<script type="text/javascript" src="assets/js/modal-box.js"></script>
<script type="text/javascript" src="assets/js/ventcamp.js"></script>

</div>
</html>
